In [13]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel'] 
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
GradeList = zip(names,grades,bsdegrees,msdegrees,phddegrees)
df = pd.DataFrame(data=GradeList,
columns=['Names','Grades','bsdegrees','msdegrees','phddegrees'])

In [14]:
df

     Names  Grades  bsdegrees  msdegrees  phddegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0

In [15]:
df['Grades'].count()

5

In [16]:
df['Grades'].mean()

85.0

In [17]:
df['Grades'].std()

11.067971810589327

In [18]:
df['Grades'].min()

76

In [19]:
df['Grades'].max()

99

In [20]:
df['Grades'].quantile(.25)

77.0

In [21]:
df['Grades'].quantile(.5)

78.0

In [22]:
df['Grades'].quantile(.75)

95.0

In [23]:
df.var()

Grades        122.5
bsdegrees       0.3
msdegrees       0.8
phddegrees      0.2
dtype: float64